# .gcloudignore
.git
.gitignore
node_modules/
frontend/node_modules/
server/node_modules/
.env
build/
# If you serve from root, ignore the build folder only if it's not the final artifact
# But since we use npm run build, we want to upload the build folder